<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Miztli</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">123</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="Modelo1/Estudiante.hbm.xml"/>
    <mapping resource="Modelo1/Usuario.hbm.xml"/>
    <mapping resource="Modelo1/DireccionUsuario.hbm.xml"/>
    <mapping resource="Modelo1/Cuarto.hbm.xml"/>
    <mapping resource="Modelo1/TieneContratoU.hbm.xml"/>
    <mapping resource="Modelo1/DireccionCuarto.hbm.xml"/>
    <mapping resource="Modelo1/TieneDireccionC.hbm.xml"/>
    <mapping resource="Modelo1/TieneDireccionU.hbm.xml"/>
    <mapping resource="Modelo1/Prestador.hbm.xml"/>
    <mapping resource="Modelo1/Evaluacion.hbm.xml"/>
    <mapping resource="Modelo1/TieneEvaluacionC.hbm.xml"/>
    <mapping resource="Modelo1/Contrato.hbm.xml"/>
    <mapping resource="Modelo1/TieneCuarto.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
